build/built-jar.properties
*.netbeans_automatic_build
build/classes/.netbeans_update_resources
*.class
libs/lwjgl/doc/3rdparty/khronos_license.txt
libs/lwjgl/doc/3rdparty/libffi_license.txt
libs/lwjgl/doc/javadoc.zip
libs/lwjgl/doc/LICENSE.txt
*.jar
*.so
*.dylib
*.dll
libs/lwjgl/src.zip
*.mf
nbproject/build-impl.xml
nbproject/genfiles.properties
*.properties
nbproject/private/private.xml
nbproject/project.xml
*.log